In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
exercise = sns.load_dataset("exercise")
df = exercise.copy()

In [12]:
df.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

# İlk sütunu silme

In [13]:
df.columns

Index(['Unnamed: 0', 'id', 'diet', 'pulse', 'time', 'kind'], dtype='object')

In [16]:
df.drop(["Unnamed: 0"], axis = 1, inplace=True)

In [17]:
df.head()

   id     diet  pulse    time  kind
0   1  low fat     85   1 min  rest
1   1  low fat     85  15 min  rest
2   1  low fat     88  30 min  rest
3   2  low fat     90   1 min  rest
4   2  low fat     92  15 min  rest

In [19]:
df.head()

   id     diet  pulse    time  kind
0   1  low fat     85   1 min  rest
1   1  low fat     85  15 min  rest
2   1  low fat     88  30 min  rest
3   2  low fat     90   1 min  rest
4   2  low fat     92  15 min  rest

# Veri Seti Üzerinden Bilgi Edinme

In [20]:
df.describe().T

       count  mean        std   min    25%   50%    75%    max
id      90.0  15.5   8.703932   1.0   8.00  15.5   23.0   30.0
pulse   90.0  99.7  14.858471  80.0  90.25  96.0  103.0  150.0