# Seaborn 'flights' data seti üzerinde çalışma

* **flights** <br>
_Yıl ve aylara göre yapılan uçak kazalarında ölen insanların sayısını tutan veri setidir._
    * year: Kazanın yapıldığı yıl (1949- 1960)
    * month: Kazanın yapıldığı ay
    * passengers: Yolcu sayısı (104-622)

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
flights = sns.load_dataset("flights")
df = flights.copy()

In [4]:
df.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

# Veri seti üzerinden bilgi edinme

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
year,144.0,1954.500000,3.464102,1949.0,1951.75,1954.5,1957.25,1960.0
passengers,144.0,280.298611,119.966317,104.0,180.00,265.5,360.50,622.0

In [6]:
df.info

<bound method DataFrame.info of      year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]>

In [7]:
df.dtypes

year             int64
month         category
passengers       int64
dtype: object

In [8]:
df.shape

(144, 3)

In [9]:
df.size

432

In [10]:
df.index

RangeIndex(start=0, stop=144, step=1)

In [11]:
df.values

array([[1949, 'Jan', 112],
       [1949, 'Feb', 118],
       [1949, 'Mar', 132],
       [1949, 'Apr', 129],
       [1949, 'May', 121],
       [1949, 'Jun', 135],
       [1949, 'Jul', 148],
       [1949, 'Aug', 148],
       [1949, 'Sep', 136],
       [1949, 'Oct', 119],
       [1949, 'Nov', 104],
       [1949, 'Dec', 118],
       [1950, 'Jan', 115],
       [1950, 'Feb', 126],
       [1950, 'Mar', 141],
       [1950, 'Apr', 135],
       [1950, 'May', 125],
       [1950, 'Jun', 149],
       [1950, 'Jul', 170],
       [1950, 'Aug', 170],
       [1950, 'Sep', 158],
       [1950, 'Oct', 133],
       [1950, 'Nov', 114],
       [1950, 'Dec', 140],
       [1951, 'Jan', 145],
       [1951, 'Feb', 150],
       [1951, 'Mar', 178],
       [1951, 'Apr', 163],
       [1951, 'May', 172],
       [1951, 'Jun', 178],
       [1951, 'Jul', 199],
       [1951, 'Aug', 199],
       [1951, 'Sep', 184],
       [1951, 'Oct', 162],
       [1951, 'Nov', 146],
       [1951, 'Dec', 166],
       [1952, 'Jan', 171],
       [1952, 'Feb', 180],
       [1952, 'Mar', 193],
       [1952, 'Apr', 181],
       [1952, 'May', 183],
       [1952, 'Jun', 218],
       [1952, 'Jul', 230],
       [1952, 'Aug', 242],
       [1952, 'Sep', 209],
       [1952, 'Oct', 191],
       [1952, 'Nov', 172],
       [1952, 'Dec', 194],
       [1953, 'Jan', 196],
       [1953, 'Feb', 196],
       [1953, 'Mar', 236],
       [1953, 'Apr', 235],
       [1953, 'May', 229],
       [1953, 'Jun', 243],
       [1953, 'Jul', 264],
       [1953, 'Aug', 272],
       [1953, 'Sep', 237],
       [1953, 'Oct', 211],
       [1953, 'Nov', 180],
       [1953, 'Dec', 201],
       [1954, 'Jan', 204],
       [1954, 'Feb', 188],
       [1954, 'Mar', 235],
       [1954, 'Apr', 227],
       [1954, 'May', 234],
       [1954, 'Jun', 264],
       [1954, 'Jul', 302],
       [1954, 'Aug', 293],
       [1954, 'Sep', 259],
       [1954, 'Oct', 229],
       [1954, 'Nov', 203],
       [1954, 'Dec', 229],
       [1955, 'Jan', 242],
       [1955, 'Feb', 233],
       [1955, 'Mar', 267],
       [1955, 'Apr', 269],
       [1955, 'May', 270],
       [1955, 'Jun', 315],
       [1955, 'Jul', 364],
       [1955, 'Aug', 347],
       [1955, 'Sep', 312],
       [1955, 'Oct', 274],
       [1955, 'Nov', 237],
       [1955, 'Dec', 278],
       [1956, 'Jan', 284],
       [1956, 'Feb', 277],
       [1956, 'Mar', 317],
       [1956, 'Apr', 313],
       [1956, 'May', 318],
       [1956, 'Jun', 374],
       [1956, 'Jul', 413],
       [1956, 'Aug', 405],
       [1956, 'Sep', 355],
       [1956, 'Oct', 306],
       [1956, 'Nov', 271],
       [1956, 'Dec', 306],
       [1957, 'Jan', 315],
       [1957, 'Feb', 301],
       [1957, 'Mar', 356],
       [1957, 'Apr', 348],
       [1957, 'May', 355],
       [1957, 'Jun', 422],
       [1957, 'Jul', 465],
       [1957, 'Aug', 467],
       [1957, 'Sep', 404],
       [1957, 'Oct', 347],
       [1957, 'Nov', 305],
       [1957, 'Dec', 336],
       [1958, 'Jan', 340],
       [1958, 'Feb', 318],
       [1958, 'Mar', 362],
       [1958, 'Apr', 348],
       [1958, 'May', 363],
       [1958, 'Jun', 435],
       [1958, 'Jul', 491],
       [1958, 'Aug', 505],
       [1958, 'Sep', 404],
       [1958, 'Oct', 359],
       [1958, 'Nov', 310],
       [1958, 'Dec', 337],
       [1959, 'Jan', 360],
       [1959, 'Feb', 342],
       [1959, 'Mar', 406],
       [1959, 'Apr', 396],
       [1959, 'May', 420],
       [1959, 'Jun', 472],
       [1959, 'Jul', 548],
       [1959, 'Aug', 559],
       [1959, 'Sep', 463],
       [1959, 'Oct', 407],
       [1959, 'Nov', 362],
       [1959, 'Dec', 405],
       [1960, 'Jan', 417],
       [1960, 'Feb', 391],
       [1960, 'Mar', 419],
       [1960, 'Apr', 461],
       [1960, 'May', 472],
       [1960, 'Jun', 535],
       [1960, 'Jul', 622],
       [1960, 'Aug', 606],
       [1960, 'Sep', 508],
       [1960, 'Oct', 461],
       [1960, 'Nov', 390],
       [1960, 'Dec', 432]], dtype=object)

In [13]:
df.columns

Index(['year', 'month', 'passengers'], dtype='object')

# Kategorik değişkenlerle tablo yapmak